In [1]:
# Import Dependencies

import pandas as pd
import numpy as np

In [2]:
# Define File Path for CSVs

brew1 = "../CSVs/BreweryPages/brewery_data_page001-014.csv"
brew2 = "../CSVs/BreweryPages/brewery_data_page015-029.csv"
brew3 = "../CSVs/BreweryPages/brewery_data_page030-044.csv"
brew4 = "../CSVs/BreweryPages/brewery_data_page045-059.csv"
brew5 = "../CSVs/BreweryPages/brewery_data_page060-074.csv"
brew6 = "../CSVs/BreweryPages/brewery_data_page075-089.csv"
brew7 = "../CSVs/BreweryPages/brewery_data_page090-104.csv"
brew8 = "../CSVs/BreweryPages/brewery_data_page105-119.csv"
brew9 = "../CSVs/BreweryPages/brewery_data_page120-134.csv"
brew10 = "../CSVs/BreweryPages/brewery_data_page135-149.csv"
brew11 = "../CSVs/BreweryPages/brewery_data_page150-164.csv"
brew12 = "../CSVs/BreweryPages/brewery_data_page165-179.csv"
brew13 = "../CSVs/BreweryPages/brewery_data_page180-194.csv"
brew14 = "../CSVs/BreweryPages/brewery_data_page195-209.csv"
brew15 = "../CSVs/BreweryPages/brewery_data_page210-224.csv"
brew16 = "../CSVs/BreweryPages/brewery_data_page225-239.csv"
brew17 = "../CSVs/BreweryPages/brewery_data_page240-254.csv"
brew18 = "../CSVs/BreweryPages/brewery_data_page255-260.csv"
brew19 = "../CSVs/BreweryPages/brewery_data_page261.csv"

In [3]:
# Read in CSVs

brewdf1 = pd.read_csv(brew1)
brewdf2 = pd.read_csv(brew2)
brewdf3 = pd.read_csv(brew3)
brewdf4 = pd.read_csv(brew4)
brewdf5 = pd.read_csv(brew5)
brewdf6 = pd.read_csv(brew6)
brewdf7 = pd.read_csv(brew7)
brewdf8 = pd.read_csv(brew8)
brewdf9 = pd.read_csv(brew9)
brewdf10 = pd.read_csv(brew10)
brewdf11 = pd.read_csv(brew11)
brewdf12 = pd.read_csv(brew12)
brewdf13 = pd.read_csv(brew13)
brewdf14 = pd.read_csv(brew14)
brewdf15 = pd.read_csv(brew15)
brewdf16 = pd.read_csv(brew16)
brewdf17 = pd.read_csv(brew17)
brewdf18 = pd.read_csv(brew18)
brewdf19 = pd.read_csv(brew19)

In [4]:
# Merge CSVs

brewerydf = pd.concat((brewdf1, brewdf2, brewdf3, brewdf4, brewdf5, brewdf6, brewdf7, brewdf8,
                       brewdf9, brewdf10, brewdf11, brewdf12, brewdf13, 
                        brewdf14, brewdf15, brewdf16, brewdf17, brewdf18, 
                        brewdf19), join="outer")
brewerydf.head()

,Brewery Name,City,State,Country,Year Established,Still in Business?,Closed?
0,4 Seasons Brewery,Lapeer,Michigan,UNITED STATES,2014,Y,N
1,40 North Brewing,Boulder,Colorado,UNITED STATES,2011,Y,N
2,4KD Crick Brewery,Defiance,Ohio,UNITED STATES,2016,Y,N
3,Karl Strauss Brewing Company,San Diego,California,UNITED STATES,1989,Y,N
4,7 Cent Brewery,Gisborne South,Victoria,AUSTRALIA,2012,Y,N

In [5]:
## Clean up the Data Frame

# Initial count
brewerydf.count()

Brewery Name          1068
City                  1068
State                 1068
Country               1068
Year Established      1068
Still in Business?    1068
Closed?               1068
dtype: int64

In [6]:
# Remove non-USA Breweries

usabrewerydf = brewerydf.loc[(brewerydf["Country"] == "UNITED STATES")]
usabrewerydf.count()

Brewery Name          838
City                  838
State                 838
Country               838
Year Established      838
Still in Business?    838
Closed?               838
dtype: int64

In [7]:
# Remove Breweries before 2009

brewerydf2009 = usabrewerydf.loc[(usabrewerydf["Year Established"] >= 2009)]
brewerydf2009.count()

Brewery Name          564
City                  564
State                 564
Country               564
Year Established      564
Still in Business?    564
Closed?               564
dtype: int64

In [8]:
# Replace "null" with NaN values

#brewerydfnull = brewerydf2009.replace(['null'], np.nan)
#brewerydfnull.count()

In [9]:
# Drop all rows with missing information

#cleanbrewerydf = brewerydfnull.dropna(axis=0, how='any')
#cleanbrewerydf.count()

In [10]:
final_df = brewerydf2009
final_df.head()

,Brewery Name,City,State,Country,Year Established,Still in Business?,Closed?
0,4 Seasons Brewery,Lapeer,Michigan,UNITED STATES,2014,Y,N
1,40 North Brewing,Boulder,Colorado,UNITED STATES,2011,Y,N
2,4KD Crick Brewery,Defiance,Ohio,UNITED STATES,2016,Y,N
6,7 Mile Brewery,Rio Grande,New Jersey,UNITED STATES,2016,Y,N
7,810 Meadworks,Medina,New York,UNITED STATES,2014,Y,N

In [11]:
states_df = final_df.groupby(["State"])
states_df.count()

,Brewery Name,City,Country,Year Established,Still in Business?,Closed?
State,,,,,,
Alabama,5,5,5,5,5,5
Alaska,2,2,2,2,2,2
Arizona,10,10,10,10,10,10
Arkansas,1,1,1,1,1,1
California,69,69,69,69,69,69
Colorado,39,39,39,39,39,39
Connecticut,3,3,3,3,3,3
Delaware,2,2,2,2,2,2
District of Columbia,1,1,1,1,1,1
Florida,19,19,19,19,19,19
Georgia,4,4,4,4,4,4
Hawaii,6,6,6,6,6,6
Idaho,5,5,5,5,5,5
Illinios,1,1,1,1,1,1
Illinois,18,18,18,18,18,18
Indiana,14,14,14,14,14,14
Iowa,5,5,5,5,5,5
Kansas,3,3,3,3,3,3
Kentucky,6,6,6,6,6,6
Louisiana,3,3,3,3,3,3
MI,1,1,1,1,1,1
Maine,10,10,10,10,10,10
Maryland,3,3,3,3,3,3
Massachusetts,14,14,14,14,14,14
Michigan,42,42,42,42,42,42
Minnesota,7,7,7,7,7,7
Mississippi,2,2,2,2,2,2
Missouri,8,8,8,8,8,8
Montana,1,1,1,1,1,1
Nebraska,2,2,2,2,2,2
Nevada,3,3,3,3,3,3
New Hampshire,8,8,8,8,8,8
New Jersey,6,6,6,6,6,6
New Mexico,10,10,10,10,10,10
New York,21,21,21,21,21,21
North Carolina,25,25,25,25,25,25
North Dakota,1,1,1,1,1,1
Ohio,22,22,22,22,22,22
Oklahoma,2,2,2,2,2,2
Oregon,26,26,26,26,26,26
Pennsylvania,17,17,17,17,17,17
South Carolina,9,9,9,9,9,9
South Dakota,4,4,4,4,4,4
Tennessee,3,3,3,3,3,3
Texas,33,33,33,33,33,33
Utah,2,2,2,2,2,2
Vermont,3,3,3,3,3,3
Virginia,22,22,22,22,22,22
WA - Washington,1,1,1,1,1,1
Washington,27,27,27,27,27,27
West Virginia,1,1,1,1,1,1
Wisconsin,7,7,7,7,7,7
Wyoming,5,5,5,5,5,5

In [12]:
# Export Merged & Cleaned CSV

final_df.to_csv("../CSVs/brewerydb_final.csv",
                   encoding="utf-8", index=False, header=True)